@font-face {
    font-family: 'simplifica';
    src: url('../fonts/simplifica.ttf');
    src: url('../fonts/simplifica.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/simplifica.ttf') format('truetype'); /* Safari, Android, iOS */
}

header {
    z-index: -1;
    height: 55px;
    border-bottom: 1px solid #888;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0 65px 0;
    color: #888;
}

.header .container {
    margin: 0 auto;
    max-width: 960px;
    padding-left:10px;
}

.header .container p a {
    display: block;
    width:200px;
}

.header .container p a:hover {
    text-decoration: none;
    color: #848484;
}

.header .container p {
    text-transform: uppercase;
    font-size: 50px;
    /*font-size: 6.5vw;*/
    display: inline;
    position: relative;
    z-index: -2;
}

nav {
    text-align: left;
    font-size: 22px;
    position: relative;
    top: 0px;
    font-weight: 100;
    height: 70px;
}

nav .container {
    padding-left:5px;
}

nav ul {
    padding: 10px 0 0 0;
    margin-left: -15px;
}

nav ul li {
    text-transform: uppercase;
    list-item: none;
    display: inline;
    margin: 5px;
    padding: 10px 15px;
}

nav ul li.active a {
    color: #989898;
}

nav ul li.active a:hover {
    text-decoration: none;
}

nav ul li a:hover {
    color: #989898;
    cursor: pointer;
}